h1,h2{
	font-family: 'Kadwa', serif;
}

::-webkit-scrollbar {
    width: 1px;
}

#nameOfSongSearch {
	width: 200px;
	font-size: 1em;
}

#results {
	width: 201px;
	position: absolute;
	margin-left: 1em;
	border: 1px solid #c0c0c0;
	display: none;
	background-color: #fff;
	z-index: 999;
	/*height:150px;*/
	max-height: 150px;
	overflow-y:scroll;
	overflow-x:hidden;
}

#results .item {
	padding: 3px;
	font-family: Helvetica;
	background-color: #fff;
	border-bottom: 1px solid #c0c0c0;
}

#results .item:last-child {
	width: 201px;
	border-bottom: 0px;
}

#results .item:hover {
	background-color: #f2f2f2;
	cursor: pointer;
}